

  /* =About
  ----------------------------------------------- */
  .about .text {
    max-width: 28em;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 40em) {
    .about .text {
      margin-top: 3em;
    }
  }
  /*
  @media (max-width: 64.99999em) {
    .standard aside {
      text-align: center;
    }
    .standard aside .subscribe {
      display: inline-block;
      vertical-align: bottom;
      margin-left: 1.5em;
      margin-right: 1.5em;
    }
    .standard aside .subscribe svg {
      margin-left: auto;
      margin-right: auto;
    }
  }
  */
  @media (min-width: 82.5em) {
    .standard aside .subscribe {
      position: relative;
      z-index: 1;
    }
    .standard aside {
      margin-top: -10em;
      margin-bottom: -4em;
      max-width: calc(50% - 14em);
    }
  }
