

  /* =Articles
  ----------------------------------------------- */

  .articles,
  .articles li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .articles {
    max-width: none;
    margin-left: -1.5em;
    margin-right: -1.5em;
    margin-bottom: -1.5em;
  }
  .articles li {
    padding: 1.5em;
    box-sizing: border-box;
  }
  .articles li img {
    display: block;
    margin-bottom: 0.75em;
    width: 100%;
  }

  /* SHIM: Only show the first few articles on the home page */
  @media (max-width: 59.9em) {
    .articles li.hidden-on-small-screens {
      display: none;
    }
  }

  @media (min-width: 60em) {
    @supports (object-fit: cover) {
      .articles li img {
        height: 15em;
        object-fit: cover;
      }
    }
    .articles li {
      display: inline-block;
      vertical-align: top;
      width: 48%;
    }
    .articles li.landscape {
      width: auto;
    }
  }

  @media (min-width: 80em) {
    .articles li {
      width: 32%;
    }
    .articles li.landscape {
      width: 65%;
    }
    .articles li.half {
      width: 48%;
    }
  }

  .articles li h2,
  .articles li h3 {
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */
    font-weight: bold;
    margin: 0;

    /* @header-3 */
    font-size: 1.6363636364em; /* 36px / 22px */
    line-height: 1.2222222222; /* 44px / 36px */
  }
  .articles li h2 {
    float: left;
    font-weight: normal;
    margin-right: 0.25em;
  }
  .tangerine .articles li h2 {
    color: rgb(249, 132, 12); /* @orange */
  }
  .orange .articles li h2 {
    color: rgb(249, 132, 12); /* @orange */
  }
  .purple .articles li h2 {
    color: rgb(168, 46, 255); /* @purple */
  }
  .blue .articles li h2 {
    color: rgb(0, 157, 255); /* @blue */
  }
  .teal .articles li h2 {
    color: rgb(0, 207, 172); /* @dark-teal */
  }
  .green .articles li h2 {
    color: rgb(48, 217, 101); /* @green */
  }
  .yellow .articles li h2 {
    color: rgb(230, 189, 0); /* @dark-yellow */
  }
  .red .articles li h2 {
    color: rgb(239, 20, 93); /* @red */
  }
  .articles li h2:after {
    content: " /";
  }
  .articles li p {
    margin: 0.75em 0 0;
    color: rgb(114, 126, 130); /* @nickel */
    color: rgba(0, 0, 0, 0.5);
  }
  .articles li a {
    display: block;
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
  }
  .articles li a img {
    transition: opacity 0.2s;
  }
  .articles li a:hover img,
  .articles li a:active img,
  .articles li a:focus img {
    opacity: 0.65;
  }
