

  /*
  aside.related ul,
  aside.related li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  aside.related ul {
    max-width: none;
    margin-left: -1.5em;
    margin-right: -1.5em;
  }
  aside.related li img {
    display: block;
  }
  */
  aside.related {
    margin-top: 3em;
  }
  .highlights + aside.related {
    margin-top: 1.5em;
  }
  @media (min-width: 70em) {
    aside.related {
      margin-top: 8em;
    }
    .highlights + aside.related {
      margin-top: 4em;
    }
  }

  aside.related li {
    /*
    display: inline-block;
    vertical-align: top;
    margin: 1.5em;
    */
  }
  aside.related a {
    /*
    color: inherit;
    text-decoration: none;
    font-style: normal;
    */
    font-style: italic;
    font-size: 1.6363636364em; /* 36px / 22px */
  }