
  /* =Clients
  ----------------------------------------------- */

  .client-list,
  .client-list li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .client-list {
    margin-left: -1.5em; /* @tiny-page-margin */
    margin-right: -1.5em;
    max-width: none;

    /* @flex-box-wrap */
    display: -webkit-flex;
    display:         flex;

    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .client-list li {
    margin: 1.5em;
    text-align: center;
  }

  /* The logos are generally wide and short. */
  .client-list li img {
    width: 7.5em;
    height: 4em;
  }

  /* Scale the images to fit the viewport, on small to medium size screens. */

  /* Three columns */
  @media (max-width: 50em) {
    .client-list li img {
      width: calc(33.333vw - 3em); /* @tiny-page-margin x 2 = 3em */
      height: calc(20vw - 3em);
    }
  }

  /* Two columns */
  @media (max-width: 30em) {
    .client-list li img {
      width: calc(50vw - 3em);
      height: calc(30vw - 3em);
    }
  }

  /* One column */
  @media (max-width: 18em) {
    .client-list li img {
      width: calc(100vw - 3em);
      height: calc(70vw - 3em);
    }
  }
