
  /* =Footer
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */
  footer {
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */
    background-color: rgb(26, 36, 38); /* @thorium */
    color: rgb(192, 204, 207); /* @silver */
    position: relative;
  }

  footer ul,
  footer li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  footer li a {
    text-decoration: none;
    font-style: normal;
  }

  /* Links */
  footer a,
  .tangerine footer a,
  .orange    footer a,
  .purple    footer a,
  .blue      footer a,
  .teal      footer a,
  .green     footer a,
  .yellow    footer a,
  .red       footer a {
    color: inherit;
  }
  footer a[href]:hover,
  footer a[href]:active,
  footer a[href]:focus {
    color: white;
  }

  /* Buttons */
  footer button, 
  footer .action span, 
  footer .action a {
    background-color: rgb(55, 72, 77) !important; /* @magnesium */ /* !important to override the selected page color */
    color: white !important;
  }
  footer button:hover,
  footer button:active,
  footer button:focus, 
  footer a[href]:hover .action span,
  footer a[href]:active .action span,
  footer a[href]:focus .action span,
  footer .action a[href]:hover,
  footer .action a[href]:active,
  footer .action a[href]:focus {
    background-color: rgb(114, 126, 130) !important; /* @nickel */
    color: white !important;
  }


  /* =Social
  ----------------------------------------------- */
  .social {
    margin-top: 0.75em;
  }
  .social li {
    display: inline;
    margin-right: 0.6111111111em;
    font-size: 0.8181818182em; /* 18px / 22px */
    line-height: 1.2222222222; /* 22px / 18px */
  }

  .social li a {
    background-color: rgb(41, 53, 56); /* @tin */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: inline-block;
    padding: 0.25em;
    border-radius: 50%;
  }
  .tangerine .social li a {
    background-color: rgb(249, 132, 12); /* @orange */
  }
  .orange .social li a {
    background-color: rgb(249, 132, 12); /* @orange */
  }
  .purple .social li a {
    background-color: rgb(168, 46, 255); /* @purple */
  }
  .blue .social li a {
    background-color: rgb(0, 157, 255); /* @blue */
  }
  .teal .social li a {
    background-color: rgb(0, 207, 172); /* @dark-teal */
  }
  .green .social li a {
    background-color: rgb(48, 217, 101); /* @green */
  }
  .yellow .social li a {
    background-color: rgb(255, 214, 13); /* @yellow */
    background-color: rgb(230, 189, 0); /* @dark-yellow */
  }
  .red .social li a {
    background-color: rgb(239, 20, 93); /* @red */
  }
  footer .social li a {
    color: rgb(26, 36, 38) !important; /* @thorium */ /* Important to override colors like .tangerine and .red */
    background-color: rgb(192, 204, 207) !important; /* @silver */
  }
  footer .social li a:hover,
  footer .social li a:active,
  footer .social li a:focus {
    background-color: white !important;
    color: rgb(26, 36, 38) !important; /* @thorium */
  }


  /* =Subscribe
  ----------------------------------------------- */
  aside .subscribe,
  footer .subscribe {
    display: block;
    margin: 1.5em 0;
    text-decoration: none;
    font-style: inherit;
  }
  aside .subscribe {
    color: inherit;
    margin: 3em 0;
  }
  aside .subscribe h2,
  aside .subscribe h3,
  aside .subscribe h3,
  aside .subscribe p,
  footer .subscribe h2,
  footer .subscribe h3,
  footer .subscribe p {
    margin: 0;
  }
  aside .subscribe h2,
  aside .subscribe h3,
  footer .subscribe h2,
  footer .subscribe h3,
  footer .map > li {
    font-size: 0.8181818182em; /* 18px / 22px */
    line-height: 1.2222222222; /* 22px / 18px */
  }
  aside .subscribe h3,
  footer .subscribe h3 {
    font-weight: inherit;
    font-style: italic;
    font-family: "Freight Text W01", Georgia, serif; /* @freight-text */
  }
  aside .subscribe p,
  footer .subscribe p {
    margin-top: 0.75em;
  }
  aside .subscribe:hover .action span,
  aside .subscribe:active .action span,
  aside .subscribe:focus .action span {
    background-color: rgb(41, 53, 56); /* @tin */
  }

  /* Daily GOOD (for the about page) */
  aside .subscribe.daily-good h2 {
    color: rgb(192, 204, 207); /* @silver */
    color: rgba(0, 0, 0, 0.33);
  }
  aside .subscribe.daily-good svg {
    margin-top: 0.375em;
    display: block;
    fill: currentColor;
  }
  aside .subscribe.daily-good h2 + p {
    font-size: 0.8181818182em; /* 18px / 22px */
    line-height: 1.2222222222; /* 22px / 18px */
    font-style: italic;
    max-width: 10em;
  }
  aside .subscribe.daily-good form {
    margin-top: 0;
  }
  aside .subscribe.daily-good input {
    margin-bottom: 0.375em;
    max-width: 10em;
  }


  /* =Map
  ----------------------------------------------- */
  footer .map {
    max-width: none;
  }
  footer .map ul {
    margin-top: 0;
  }
  footer .map > li ul {
    margin-top: 1.2222222222em;
  }
  footer .map > li p,
  footer .map > li li {
    margin-top: 0.6111111111em;
  }
  footer .map > li {
    margin-bottom: 1.5em;
  }
  footer .map > li > a,
  footer .map > li > h4 {
    margin-top: 0;
    border-top: 1px solid;
    border-top-color: rgba(192, 204, 207, 0.25);
    padding-top: 0.6111111111em;
    font-weight: bold;
    display: block;
  }
  @media (min-width: 40em) {
    footer .subscribe,
    footer .map,
    footer .map > li {
      display: inline-block;
      vertical-align: top;
    }
    footer .subscribe {
      width: 28%;
    }
    footer .map {
      width: 70%;
      text-align: right;
    }
    footer .map > li {
      text-align: left;
      width: 46%;
      margin-left: 2%;
    }
  }
  @media (min-width: 40em) {
    footer div:after {
      content: "";
      display: table;
      clear: both;
    }
    footer .subscribe {
      float: left;
    }
    footer .map,
    footer .map.locations {
      float: right;
    }
  }
  @media (min-width: 60em) {
    footer .map > li {
      width: 29%;
      margin-left: 2%;
    }
  }
  @media (min-width: 80em) {
    footer .subscribe {
      width: 18%;
    }
    footer .map {
      width: 80%;
    }
    footer .map > li {
      width: 22%;
      margin-left: 2%;
    }
  }


  /* =Legal
  ----------------------------------------------- */
  footer .legal {
    clear: both;
    padding-top: 4em;
    font-size: 0.6363636364em; /* 14px / 22px */
    line-height: 1.5714285714; /* 22px / 14px */
  }
  @media (min-width: 40em) {
    footer .legal {
      text-align: center;
    }
  }
  footer .legal ul,
  footer .legal li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  footer .legal a {
    color: inherit;
    text-decoration: none;
  }
  footer .legal a:hover,
  footer .legal a:active,
  footer .legal a:focus {
    color: white;
  }

  footer .legal ul,
  footer .legal p,
  footer .legal li {
    margin: 0;
    display: inline-block;
  }
  footer .legal p,
  footer .legal li {
    margin: 0 0.3125em; /* @line-height / 4 */
  }


  /* =GOOD can help
  ----------------------------------------------- */
  .good-can-help {
    margin-left: -1.5em; /* main padding */
    margin-right: -1.5em;
    margin-top: 1.5em;
    padding: 3em 1.5em;
    background-color: rgb(102, 102, 102);
    color: white;
  }
  @media (min-width: 70em) {
    .good-can-help {
      margin-left: -4em; /* 88px / 22px */
      margin-right: -4em;
    }
    .good-can-help {
      margin-top: 4em;
    }
    .good-can-help {
      padding: 6em 4em; /* 50px / 22px */     /* 88px / 22px */
    }
  }
  .tangerine .good-can-help {
    background-color: rgb(255, 80, 26); /* @tangerine */
  }
  .orange .good-can-help { 
    background-color: rgb(249, 132, 12); /* @orange */
  }
  .purple .good-can-help {
    background-color: rgb(168, 46, 255); /* @purple */
  }
  .blue .good-can-help {
    background-color: rgb(0, 157, 255); /* @blue */
  }
  .teal .good-can-help {
    background-color: rgb(0, 207, 172); /* @dark-teal */
  }
  .green .good-can-help {
    background-color: rgb(48, 217, 101); /* @green */
  }
  .yellow .good-can-help {
    background-color: rgb(230, 189, 0); /* @dark-yellow */
  }
  .red .good-can-help {
    background-color: rgb(239, 20, 93); /* @red */
  }
 
  .good-can-help h2,
  .good-can-help ul {
    font-weight: bold;
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */

    /* @header-3 */
    font-size: 1.6363636364em; /* 36px / 22px */
    line-height: 1.2222222222; /* 44px / 36px */
  }

  @media (min-width: 40em) {
    .good-can-help h2,
    .good-can-help ul {
      font-weight: bold;
      font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */

      /* @header-2 */
      font-size: 2.1818181818em; /* 48px / 22px */
      line-height: 1.1458333333; /* 55px / 48px */
    }
  }

  .good-can-help h2 {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.8;
  }
  .good-can-help h2:after {
    content: ":";
  }
  .good-can-help ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  .good-can-help ul,
  .good-can-help li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .good-can-help li {
    text-transform: lowercase;
  }
  .good-can-help a {
    color: inherit;
    font-style: normal;
  }
  .good-can-help a span {
    color: rgb(41, 53, 57);
  }
  .good-can-help a:hover span,
  .good-can-help a:active span,
  .good-can-help a:focus span {
    color: white;
  }

  @media (min-width: 60em) {
    .good-can-help {
      text-align: center;
    }
    .good-can-help h2,
    .good-can-help ul {
      display: inline-block;
      vertical-align: top;
    }
    .good-can-help h2 {
      text-align: right;
    }
    .good-can-help ul {
      margin-left: 0.75em;
      text-align: left;
    }

    /* SHIM: Attempt to line up the two “good can help” sections on the home page. */
    /*
    .home .good-can-help h2,
    .home ~ footer .good-can-help h2 {
      min-width: 50%;
    }
    .home .good-can-help ul,
    .home ~ footer .good-can-help ul {
      min-width: 45%;
    }
    */
  }

  /* When “.good-can-help” appears in the footer, change the colors */
  footer .good-can-help {
    background-color: transparent !important;
    margin-top: -1.5em;
    margin-bottom: -0em;
  }
  @media (min-width: 70em) {
    footer .good-can-help {
      margin-top: -6em;
      margin-bottom: -3em;
    }
  }
  footer .good-can-help a {
    text-decoration: underline;
    text-transform: none;
    color: inherit !important; /* @green */
  }
  footer .good-can-help a span {
    color: inherit !important;
  }
  .tangerine footer .good-can-help a {
    color: rgb(249, 132, 12) !important; /* @orange */
  }
  .orange footer .good-can-help a {
    color: rgb(249, 132, 12) !important; /* @orange */
  }
  .purple footer .good-can-help a {
    color: rgb(168, 46, 255) !important; /* @purple */
  }
  .blue footer .good-can-help a {
    color: rgb(0, 157, 255) !important; /* @blue */
  }
  .teal footer .good-can-help a {
    color: rgb(0, 207, 172) !important; /* @teal */
  }
  .green footer .good-can-help a {
    color: rgb(48, 217, 101) !important; /* @green */
  }
  .yellow footer .good-can-help a {
    color: rgb(255, 214, 13) !important; /* @yellow */
  }
  .red footer .good-can-help a {
    color: rgb(239, 20, 93) !important; /* @red */
  }

  footer .good-can-help a:hover,
  footer .good-can-help a:active,
  footer .good-can-help a:focus {
    color: white !important;
  }

