


  /* =Layout
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */

  body > nav,
  main,
  footer > div {
    padding: 1.5em; /* @tiny-page-margin */
  }
  main {
    padding-bottom: 3em; /* @tiny-page-margin x 2 */
  }
  @media (min-width: 70em) {
    body > nav,
    main,
    footer > div {
      padding: 4em; /* 88px / 22px */ /* @page-margin */
    }
    body > nav {
      padding-top: 0;
      padding-bottom: 0;
    }
    main {
      padding-bottom: 8em; /* @page-margin x 2 */
    }
  }
