
  main .meta h2,
  main.project-details .meta h2 {
    color: inherit;
  }

  .projects .list dt {
    margin-top: 1.5em;
  }

  .projects .list dl,
  .meta {
    font-size: 0.8181818182em; /* 18px / 22px */
    line-height: 1.2222222222; /* 22px / 18px */
  }
  .meta li {
    margin-top: 0.3055555556em; /* (22px / 18px) / 4 */
  }
  .meta li a {
    font-style: inherit;
    text-decoration: inherit;
  }
  .meta li a:hover,
  .meta li a:active,
  .meta li a:focus {
    text-decoration: underline;
  }
  blockquote + .byline,
  .projects .list dt,
  .meta h2,
  .meta h3 {
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */
    font-weight: bold;
    font-size: 0.6666666667em; /* 12px / 18px */
    line-height: 1.8333333333; /* 22px / 12px */
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  /* SHIM: Don’t let the meta data get too small. */
  @media (max-width: 500px) {
    .featured-project-list li p,
    .projects .list dl,
    .meta {
      font-size: inherit !important;
      line-height: inherit !important;
    }
  }

  .meta {
    margin-top: 1.8333333333em; /* 1.5 / (18px / 22px) */
  }
  .meta h2,
  .meta h3 {
    margin-top: 0;
  }


  .meta h2:before {
    display: none;
  }
