

  /* =Navigation
  ----------------------------------------------- */
  header > .nav {
    position: absolute;
    right: 0;
    top: 1.5em;
    z-index: 3; /* Just above the page title on the articles page */
    text-align: right;
  }

  @media (min-width: 60em) {
    header > .nav,
    header.home > .nav {
      top: 2.2727272727em; /* 50px / 22px */
    }
  }

  header .nav h6 a {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.25em 0.375em;
    margin-bottom: 0.375em;
  }

  @media (max-width: 30em) {
    .scripted-nav header .nav {
      top: 0;
    }
  }
  .nav h6 {
    margin: 0;
  }
  header .nav .icon.show {
    display: none;
  }
  header .nav .icon.hide {
    display: inline;
  }
  header .nav.hidden .icon.show {
    display: inline;
  }
  header .nav.hidden .icon.hide {
    display: none;
  }
  @media (max-width: 30em) {
    .scripted-nav h6 {
      display: block !important;
    }
    header .nav.hidden ul {
      display: none;
    }
  }

  header {
    padding-right: 0;
  }
  header[style] {
    background-color: rgb(102, 102, 102);
    background-position: center;
    background-image: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    min-height: 24em;
    min-height: 70vh;
    box-sizing: border-box;
  }

  /* SHIM: Make more space for the page title on tiny screens */
  @media (max-width: 20em) {
    header[style] {
      min-height: 85vh;
    }
  }

  header[style]:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  header[style] > ul {
    position: relative;
    z-index: 2; /* Just above the header[style]:before element and the featured-project-list */
  }
  header[style] a {
    color: inherit;
  }
  header ul,
  header li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  header ul {
    margin: 0;
    text-align: right;
    max-width: none;
  }
  header .nav li + li {
    margin-top: 0.375em;
  }
  header .nav li li a {
    margin-right: 0.375em;
  }

  header ~ main > .header h1 {
    margin-bottom: 0;
    text-decoration: underline;
  }
  header ~ main > .header h1 span {
    color: rgb(41, 53, 56); /* @tin */
    color: rgba(0, 0, 0, 0.8);
  }
  header[style] ~ main > .header h1 span {
    color: white;
  }

  .tangerine header ~ main > .header h1 {
    color: rgb(255, 80, 26); /* @tangerine */
  }
  .orange header ~ main > .header h1 {
    color: rgb(249, 132, 12); /* @orange */
  }
  .purple header ~ main > .header h1 {
    color: rgb(168, 46, 255); /* @purple */
  }
  .blue header ~ main > .header h1 {
    color: rgb(0, 157, 255); /* @blue */
  }
  .teal header ~ main > .header h1 {
    color: rgb(0, 207, 172); /* @dark-teal */
  }
  .green header ~ main > .header h1 {
    color: rgb(48, 217, 101); /* @green */
  }
  .yellow header ~ main > .header h1 {
    color: rgb(255, 214, 13); /* @yellow */
  }
  .red header ~ main > .header h1 {
    color: rgb(239, 20, 93); /* @red */
  }

  header ~ main > .header h2 {
    margin-top: 0.375em;
    font-style: italic;
    font-weight: inherit;
    font-family: "Freight Text W01", Georgia, serif; /* @freight-text */
    margin-bottom: 0;
  }

  @media (min-width: 20em) {
    header[style] ~ main > .header,
    header[style] ~ main > h1:first-child {
      margin-top: 0;
      position: absolute;
      top: 2em;
      z-index: 2; /* Just above the main navigation */
      color: white;
    }
    header[style] ~ main > .header {
      margin-right: 1.5em;
      top: 6em;
    }
    header[style] + h3,
    header[style] + nav h3 {
      color: white;
    }
    header[style] ~ main > .header + p,
    header[style] ~ main > h1:first-child + p {
      margin-top: 0;
    }
  }
  @media (min-height: 50em) {
    header[style] ~ main > .header {
      top: 12em;
      margin-right: 8em;
      top: 25vh;
    }
    header[style] ~ main > h1:first-child {
      top: 6em;
    }
  }
  @media (min-width: 70em) {
    header[style] ~ main > .header {
      margin-right: 4em;
      top: 10em;
    }
  }
  @media (min-width: 70em) and (min-aspect-ratio: 1/1) {
    header[style] ~ main > h1:first-child {
      top: 30vh;
    }
  }
