

  /* =Sub Navigation
  ----------------------------------------------- */
  body > nav p + nav {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
  /*
  main > h1 + nav {
    margin-top: -3em;
  }
  */
  main > h1 + h3 {
    margin-top: -1.5em;
  }
  body > nav ul,
  body > nav li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  body > nav ul {
    margin: 0;
    max-width: none;
  }
  body > nav p + ul {
    margin-top: 3em;
  }
  body > nav a {
    display: block;
    /*
    text-decoration: underline;
    */
  }
  @media (min-width: 21em) {
    /*
    body > nav {
      text-align: center;
    }
    */
    body > nav:not(.projects) ul {
      margin: 0;
    }
    body > nav:not(.projects) ul {
      margin-left: -0.375em;
      margin-right: -0.375em;
    }
    body > nav:not(.projects) li {
      display: inline-block;
    }
    body > nav:not(.projects) a {
      padding: 1.5em 0.375em;
    }
  }
  @media (min-width: 70em) {
    /*
    body > nav {
      text-align: center;
    }
    */
    body > nav.projects ul {
      margin: 0;
    }
    body > nav.projects ul {
      margin-left: -0.375em;
      margin-right: -0.375em;
    }
    body > nav.projects li {
      display: inline-block;
    }
    body > nav.projects a {
      padding: 1.5em 0.375em;
    }
  }
  @media (min-width: 60em) {
    body > nav {
      margin-top: 1.5em;
    }
  }
  @media (min-width: 80em) {
    body > nav ul {
      margin-left: -0.75em !important;
      margin-right: -0.75em !important;
    }
    body > nav a {
      padding: 1.5em 0.75em !important;
    }
  }
  @media (min-width: 90em) {
    body > nav ul {
      margin-left: -1.5em !important;
      margin-right: -1.5em !important;
    }
    body > nav a {
      padding: 1.5em !important;
    }
  }
  body > nav a {
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */
    font-weight: bold;
    font-style: inherit;
    text-transform: lowercase;
    position: relative;
  }

  @media (min-width: 21em) {
    body > nav:not(.projects) a:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -1px;
      width: 1px;
      height: 1.5em;
      background-color: currentColor;
    }
    body > nav:not(.projects):after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgb(0, 207, 172); /* @dark-teal */
    }
    .tangerine > nav:not(.projects):after {
      background-color: rgb(255, 80, 26); /* @tangerine */
    }
    .orange > nav:not(.projects):after {
      background-color: rgb(249, 132, 12); /* @orange */
    }
    .purple > nav:not(.projects):after {
      background-color: rgb(168, 46, 255); /* @purple */
    }
    .blue > nav:not(.projects):after {
      background-color: rgb(0, 157, 255); /* @blue */
    }
    .teal > nav:not(.projects):after {
      background-color: rgb(0, 207, 172); /* @dark-teal */
    }
    .green > nav:not(.projects):after {
      background-color: rgb(48, 217, 101); /* @green */
    }
    .yellow > nav:not(.projects):after {
      background-color: rgb(255, 214, 13); /* @yellow */
    }
    .red > nav:not(.projects):after {
      background-color: rgb(239, 20, 93); /* @red */
    }
  }
  @media (min-width: 70em) {
    body > nav.projects a:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -1px;
      width: 1px;
      height: 1.5em;
      background-color: currentColor;
    }
    body > nav.projects:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgb(0, 207, 172); /* @dark-teal */
    }
    .tangerine > nav.projects:after {
      background-color: rgb(255, 80, 26); /* @tangerine */
    }
    .orange > nav.projects:after {
      background-color: rgb(249, 132, 12); /* @orange */
    }
    .purple > nav.projects:after {
      background-color: rgb(168, 46, 255); /* @purple */
    }
    .blue > nav.projects:after {
      background-color: rgb(0, 157, 255); /* @blue */
    }
    .teal > nav.projects:after {
      background-color: rgb(0, 207, 172); /* @dark-teal */
    }
    .green > nav.projects:after {
      background-color: rgb(48, 217, 101); /* @green */
    }
    .yellow > nav.projects:after {
      background-color: rgb(255, 214, 13); /* @yellow */
    }
    .red > nav.projects:after {
      background-color: rgb(239, 20, 93); /* @red */
    }
  }
  body > nav a[href]:not(.active) {
    color: inherit;
  }
  body > nav a[href]:not(.active):after {
    display: none;
  }
  body > nav a[href]:not(.active):hover,
  body > nav a[href]:not(.active):active,
  body > nav a[href]:not(.active):focus {
    color: rgb(114, 126, 130); /* @nickel */
  }
