

  /* =Pagination & Tags
  ----------------------------------------------- */

  /* For the blog and press pages */
  main > nav {
    margin-top: 3em;
  }
  main > nav + nav {
    margin-top: 6em;
  }
  main > nav ul,
  main > nav li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  main > nav ul {
    max-width: none;
    margin: 0;
  }
  main > nav a {
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */
    font-weight: bold;
    font-style: inherit;
    text-transform: lowercase;
    display: block;
  }

  /* Emphasize the active page */
  main > nav a[href]:not(.active) {
    color: inherit;
  }
  main > nav a[href]:not(.active):after {
    display: none;
  }
  main > nav a[href]:not(.active):hover,
  main > nav a[href]:not(.active):active,
  main > nav a[href]:not(.active):focus {
    opacity: 0.65;
  }

  /* Tags */
  main > nav.tags h3 {
    font-style: italic;
    max-width: none;
  }

  @media (min-width: 25em) {
    main > nav {
      text-align: center;
    }
    main > nav li {
      display: inline-block;
    }
    main > nav ul {
      margin-left: -0.375em;
      margin-right: -0.375em;
    }
    main > nav a {
      padding-left: 0.375em;
      padding-right: 0.375em;
    }
  }
  @media (min-width: 50em) {
    main > nav ul {
      margin-left: -0.75em;
      margin-right: -0.75em;
    }
    main > nav a {
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }
  @media (min-width: 75em) {
    main > nav ul {
      margin-left: -1.5em;
      margin-right: -1.5em;
    }
    main > nav a {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
  }
