

  /* =Pagination
  ----------------------------------------------- */

  main > nav ul,
  main > nav li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  main > nav ul {
    max-width: none;
  }
  main > nav p + ul {
    margin-top: 3em;
  }
  main > nav a {
    display: block;
    text-decoration: underline;
  }
  @media (min-width: 25em) {
    main > nav ul {
      margin: 0;
    }
    main > nav ul {
      margin-left: -0.375em;
      margin-right: -0.375em;
    }
    main > nav li {
      display: inline-block;
    }
    main > nav a {
      padding: 1.5em 0.375em;
    }
  }
  @media (min-width: 60em) {
    main > nav {
      margin-top: 1.5em;
    }
  }
  @media (min-width: 80em) {
    main > nav ul {
      margin-left: -0.75em !important;
      margin-right: -0.75em !important;
    }
    main > nav a {
      padding: 1.5em 0.75em !important;
    }
  }
  @media (min-width: 90em) {
    main > nav ul {
      margin-left: -1.5em !important;
      margin-right: -1.5em !important;
    }
    main > nav a {
      padding: 1.5em !important;
    }
  }
  main > nav a {
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */
    font-weight: bold;
    font-style: inherit;
    text-transform: lowercase;
    position: relative;
  }

  main > nav a[href]:not(.active) {
    color: inherit;
  }
  main > nav a[href]:not(.active):after {
    display: none;
  }
  main > nav a[href]:not(.active):hover,
  main > nav a[href]:not(.active):active,
  main > nav a[href]:not(.active):focus {
    opacity: 0.65;
  }

  main > nav.pagination {
    margin-bottom: 3em;
  }
  @media (min-width: 25em) {
    main > nav.pagination {
      text-align: center;
    }
  }


  main > nav.tags h3 {
    font-style: italic;
  }
  main > nav.tags a {
    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
  }

  /*
  body > nav.pagination .previous:before {
    content: "← ";
  }
  body > nav.pagination .next:after {
    content: " →";
  }
  */

