

  /* =Quote
  ----------------------------------------------- */
  .tangerine .quote {
    color: rgb(255, 80, 26); /* @tangerine */
  }
  .orange .quote {
    color: rgb(249, 132, 12); /* @orange */
  }
  .purple .quote {
    color: rgb(168, 46, 255); /* @purple */
  }
  .blue .quote {
    color: rgb(0, 157, 255); /* @blue */
  }
  .teal .quote {
    color: rgb(0, 207, 172); /* @dark-teal */
  }
  .green .quote {
    color: rgb(48, 217, 101); /* @green */
  }
  .yellow .quote {
    color: rgb(230, 189, 0); /* @dark-yellow */
  }
  .red .quote {
    color: rgb(239, 20, 93); /* @red */
  }

  .quote[style] blockquote,
  .quote[style] blockquote + .byline {
    color: inherit;
  }
  blockquote p {
    font-size: 1.6363636364em; /* 36px / 22px */
    line-height: 1.2222222222; /* 44px / 36px */
    margin-top: 1.2222222222em;
    margin-bottom: 1.2222222222em;
  }
  .quote[style] blockquote + .byline {
    text-align: right;
  }
  .standard .quote[style] {
    margin-left: -1.5em; /* main padding */
    margin-right: -1.5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: white;
    padding: 1.5em;
    margin-bottom: -3em;
    max-width: none;
  }
  .quote[style]:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .quote[style] > * {
    position: relative;
    z-index: 1; /* Just above the header[style]:before element */
  }
  .quote[style] blockquote,
  .quote[style] blockquote + .byline {
    max-width: 38.25em;
    margin-left: auto;
    margin-right: auto;
  }
  .quote[style] .media-kit {
    font-size: 0.8181818182em; /* 18px / 22px */
    line-height: 1.2222222222; /* 22px / 18px */
    max-width: 10em;
  }
  @media (min-width: 70em) {
    .standard .quote[style] {
      margin-left: -4em; /* 88px / 22px */
      margin-right: -4em;
      margin-bottom: -8em;
      padding: 4em;
    }
  }
  @media (min-aspect-ratio: 1/1) {
    .standard .quote[style] {
      padding-top: 15em;
      padding-bottom: 15em;
      padding-top: 30vh;
      padding-bottom: 30vh;
    }
    .quote[style] .media-kit {
      position: absolute;
      bottom: 4em;
      left: 4em;
      margin-bottom: 0;
    }
  }
