
/*
  Shared styles

  Sections are grouped under headings with a “=” symbol,
  to make searching easier.

  When a style is used more than once, it sometimes has a “@keyword”
  in a comment next to it (to help with search and replace).

  For example…

  16px  @font-size
  22px  @line-height


  ### A note about font sizes…

  Type, padding and margins throughout the style sheet are based on
  a 22 pixel font size, a 33 pixel line height, and an 11 pixel vertical rhythm.

  It may be helpful to set your viewport between 1000-1500 wide,
  when adjusting these.

  The body font size is scaled up or down, depending on viewport size.
  But the ratios between type sizes, padding, and margins generally remain the same.

  For example “h2” headlines are about twice large as paragraphs,
  at any viewport size.
*/

@import url('elements.css');
@import url('type.css');
@import url('links.css');
@import url('buttons.css');
@import url('meta-data.css');
@import url('forms.css');
@import url('quote.css');

@import url('layout.css');
@import url('footer.css');
@import url('header.css');
@import url('navigation.css');
@import url('navigation-sub.css');
@import url('pagination.css');
@import url('standard.css');

@import url('projects.css');
@import url('project-details.css');

@import url('team.css');
@import url('team-member.css');

@import url('clients.css');
@import url('reports.css');

@import url('home.css');


