
  /* =Standard
  -----------------------------------------------
  Headline on the left, text on the right
  ----------------------------------------------- */
  .standard .team-member-list,
  .standard .section,
  .standard section,
  .standard .body,
  .standard .quote {
    margin-bottom: 1.5em;
  }
  .standard .team-member-list:last-of-type,
  .standard .quote {
    margin-bottom: 3em;
  }
  @media (min-width: 70em) {
    .standard .team-member-list,
    .standard .section,
    .standard section,
    .standard .body,
    .standard .quote {
      margin-bottom: 4em;
    }
    .standard .team-member-list:last-of-type,
    .standard .quote,
    .standard figure {
      margin-bottom: 8em;
    }
  }
  .standard section:last-child,
  .standard .section:last-child,
  .standard .body:last-child,
  .standard .quote:last-child {
    margin-bottom: 0;
  }
  .standard .body p,
  .standard .quote blockquote p {
    max-width: 28em;
  }

  /* SHIM: For the about page, with no headline */
  .standard .body p:first-child {
    margin-top: 0;
  }

  .quote blockquote {
    margin-left: 0;
    margin-right: 0;
  }
  .standard .quote {
    max-width: 40em;
  }


  .standard > .header h2.byline {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-style: italic;
    margin: 0;
  }
  .standard > .header p {
    font-size: 0.8181818182em; /* 18px / 22px */
    line-height: 1.2222222222; /* 22px / 18px */
    margin-top: 0.3055555556em; /* line height / 4 */
  }
  .tangerine .standard > .header h2.byline {
    color: rgb(255, 80, 26); /* @tangerine */
  }
  .orange .standard > .header h2.byline {
    color: rgb(249, 132, 12); /* @orange */
  }
  .purple .standard > .header h2.byline{
    color: rgb(168, 46, 255); /* @purple */
  }
  .blue .standard > .header h2.byline {
    color: rgb(0, 157, 255); /* @blue */
  }
  .teal .standard > .header h2.byline {
    color: rgb(0, 207, 172); /* @dark-teal */
  }
  .green .standard > .header h2.byline {
    color: rgb(48, 217, 101); /* @green */
  }
  .yellow .standard > .header h2.byline {
    color: rgb(255, 214, 13); /* @yellow */
  }
  .red .standard > .header h2.byline {
    color: rgb(239, 20, 93); /* @red */
  }


  .standard > h1,
  .standard > .section h1 {
    font-size: 2.1818181818em; /* 48px / 22px */
    line-height: 1.1458333333; /* 55px / 48px */
    margin-top: 0;
    margin-bottom: 0.6875em; /* 33px / 48px */
  }

  .standard .body .primary {
    max-width: 17.111111111em; /* 28em / (36px / 22px) */
  }

  @media (min-width: 82.5em) {
    .team-member-list ul {
      margin-top: -1.5em;
    }

    .standard .body,
    .standard .quote,
    .standard .team-member-list {
      /*
      margin-left: auto;
      margin-right: auto;
      max-width: 28em;
      */
      margin-left: calc(50% - 14em);
    }
    .standard .quote {
      margin-left: calc(50% - 20em);
    }
    /*
    .standard .primary {
      margin-top: 4em;
      margin-left: calc(50% - 20em);
      text-align: center;
    }
    */
    /*
    .standard {

    }
    .standard {
      margin-top: 3em;
      padding-bottom: 3em;
    }
    */
    nav + .standard {
      margin-top: 0;
    }

    .standard .body > p:first-child {
      margin-top: 0;
    }

    .standard > h1,
    .standard > h2,
    .standard > .header,
    .standard > .section > h1,
    .standard > section > h2,
    .standard > h3 {
      margin-top: 0;
      margin-bottom: 0;
      /*
      border: 1px solid blue;
      position: absolute;
      */
      float: left;
      width: calc(50% - 8em);
    }
    .standard .section:after,
    .standard section:after {
      content: "";
      display: table;
      clear: both;
    }
    .standard > .header,
    .standard > p.date {
      width: calc(50% - 20em);
    }
    .standard > h3 {
      width: calc(50% - 9.25em);
      font-style: italic;
    }
  }

  .standard.news h1 + .body {
    margin-bottom: 3em;
  }

  @media (min-width: 70em) {
    .standard.news h1 + .body {
      margin-bottom: 8em;
    }
  }

  .standard.news > h1 {
    font-size: 2.5em; /* 55px / 22px */
    line-height: 1.2em; /* 66px / 55px */
    margin-bottom: 0.6em;
  }
  @media (min-width: 50em) {
    .standard.news > h1 {
      font-size: 3.7272727273em; /* 82px / 22px */
      line-height: 1.2073170732em; /* 99px / 82px */
      margin-bottom: 0.4024390244em; /* 33px / 82px */
      width: calc(50% - 5em);
    }
  }

  @media (min-width: 110em) {
    .standard > h1,
    .standard > .section h1 {
      font-size: 3.7272727273em; /* 82px / 22px */
      line-height: 1.2073170732em; /* 99px / 82px */
      margin-bottom: 0.4024390244em; /* 33px / 82px */
      width: calc(50% - 5em);
    }
  }
