

  /* =Team
  ----------------------------------------------- */

  .team-member-list ul,
  .team-member-list li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .team-member-list ul {
    max-width: none;
    font-size: 0.8181818182em; /* 18px / 22px */
    line-height: 1.2222222222; /* 22px / 18px */
    margin-left: -1.5em; /* item padding */
    margin-right: -1.5em;

    /* @flex-box-wrap */
    display: -webkit-flex;
    display:         flex;

    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .team-member-list li {
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */
    color: rgb(41, 53, 57);
    width: 100%;
    padding: 1.5em;
    text-align: center;
    box-sizing: border-box;
  }
  .team-member-list li a {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
  }
  .team-member img,
  .team-member-list img {
    border-radius: 50%;
  }
  .team-member-list li h4,
  .team-member-list li p {
    max-width: none;
  }
  .team-member-list li h4 {
    margin: 0.75em 0 0 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
  }
  .team-member-list li p {
    margin: 0;
    font-style: italic;
    opacity: 0.6;
  }

  /* SHIM: This is prefixed with “main” so IE8 will ignore it (since it doesn’t understand HTML5 elements) */
  main .team-member-list li img {
    width: 100%;
    max-width: 15em;
    height: auto;
  }

  @media (min-width: 20em) {
    .team-member-list li {
      width: 50%;
    }
  }
  @media (min-width: 40em) {
    .team-member-list li {
      width: 33.333%;
    }
  }
  @media (min-width: 60em) {
    .team-member-list li {
      width: 25%;
    }
  }
