

  /* =Team Member
  ----------------------------------------------- */
  .team-member .image {
    margin-bottom: 1.5em;
  }
  .team-member .image img {
    border-radius: 50%;
  }
  .team-member > h1,
  .team-member > h1 + p {
    margin-top: 0;
    font-size: 1.6363636364em; /* 36px / 22px */
    line-height: 1.2222222222; /* 44px / 36px */
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */
    margin-bottom: 1.2222222222em;
  }
  .team-member > h1 {
    margin-bottom: 0;
    font-weight: bold;
  }
  .team-member > h1 + p {
    font-style: italic;
  }
  .team-member .details h2 {
    /* @small-caps */
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */
    font-weight: bold;
    font-size: 0.5454545455em; /* 12px / 22px */
    line-height: 1.8333333333; /* 22px / 12px */
    text-transform: uppercase;
    letter-spacing: 0.1em;

    margin-bottom: 0;
  }
  .team-member .details p:first-child,
  .team-member .details h2 + p {
    margin-top: 0;
  }
  @media (min-width: 50em) {
    .team-member > h1 {
      float: left;
      margin-right: 0.25em;
    }
    .team-member > h1:after {
      content: " – ";
      color: rgb(0, 240, 200); /* @teal */
    }
  }
  .tangerine .team-member > h1:after {
    color: rgb(249, 132, 12); /* @orange */
  }
  .orange .team-member > h1:after {
    color: rgb(249, 132, 12); /* @orange */
  }
  .purple .team-member > h1:after {
    color: rgb(168, 46, 255); /* @purple */
  }
  .blue .team-member > h1:after {
    color: rgb(0, 157, 255); /* @blue */
  }
  .teal .team-member > h1:after {
    color: rgb(0, 240, 200); /* @teal */
  }
  .green .team-member > h1:after {
    color: rgb(48, 217, 101); /* @green */
  }
  .yellow .team-member > h1:after {
    color: rgb(255, 214, 13); /* @yellow */
  }
  .red  .team-member > h1:after {
    color: rgb(239, 20, 93); /* @red */
  }
  @media (min-width: 60em) {
    .team-member:after {
      content: "";
      display: table;
      clear: both;
    }
    .team-member .details {
      margin-top: 6em;
      width: 60%;
      float: left;
    }
    .team-member .image,
    .team-member .meta {
      width: 35%;
      float: right;
    }
    .team-member .meta {
      padding-left: 3em;
      box-sizing: border-box;
    }
  }
