

  /* =Type
  ----------------------------------------------- */

  h1, h2, h3, h4, h5, h6, p, ol, ul, dl, figure {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    max-width: 33em;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */
  }
  h1 {
    font-size: 2.5em; /* 55px / 22px */
    line-height: 1.2em; /* 66px / 55px */
    margin-top: 0.6em; /* 33px / 55px */
    margin-bottom: 0.6em;
  }
  @media (min-width: 70em) {
    h1 {
      font-size: 3.7272727273em; /* 82px / 22px */
      line-height: 1.2073170732em; /* 99px / 82px */
      margin-top: 0.4024390244em; /* 33px / 82px */
      margin-bottom: 0.4024390244em;
    }
  }
  h2 {
    font-size: 2.1818181818em; /* 48px / 22px */
    line-height: 1.1458333333; /* 55px / 48px */
    margin-top: 0.6875em; /* 33px / 48px */
    margin-bottom: 0.6875em;
  }
  h3 {
    font-size: 1.6363636364em; /* 36px / 22px */
    line-height: 1.2222222222; /* 44px / 36px */
    margin-top: 0.9166666667em; /* 33px / 36px */
    margin-bottom: 0.9166666667em;

    font-family: inherit;
    font-weight: inherit;
  }
  h4, h5, h6 {
    font-size: inherit;
  }


  figure {
    margin: 3em 0;
  }
  figure img {
    display: block;
  }
  figcaption {
    font-family: "Proxima Nova W08", "Helvetica Neue", Helvetica, sans-serif; /* @proxima-nova */
    font-size: 0.7272727273em; /* 16px / 22px */
    line-height: 1.375; /* 22px / 16px */
    margin-top: 0.6875em; /* 11px / 16px */
    margin-bottom: 0.6875em;
    color: rgb(114, 126, 130); /* @nickel */
  }
  p.primary {
    font-size: 1.6363636364em; /* 36px / 22px */
    line-height: 1.2222222222; /* 44px / 36px */
    margin-top: 0.9166666667em; /* 33px / 36px */
    margin-bottom: 0.9166666667em;
  }

  .phrase {
    /* avoid line break */
    display: inline-block;
  }

